#%PAM-1.0
{{ ansible_managed | comment }}
auth sufficient pam_rootok.so
auth required pam_env.so
auth required pam_faildelay.so delay=2000000
auth [default=1 ignore=ignore success=ok] pam_usertype.so isregular
auth [default=2 ignore=ignore success=ok] pam_localuser.so
auth required pam_unix.so nullok try_first_pass
auth sufficient /usr/lib64/security/pam_duo.so
auth [default=2 ignore=ignore success=ok] pam_usertype.so isregular
auth required pam_sss.so forward_pass
auth sufficient /usr/lib64/security/pam_duo.so
auth required pam_deny.so
account    include      system-auth
password   include      system-auth
session    optional     pam_keyinit.so revoke
session    required     pam_limits.so
session    include      system-auth
